mixin box-breadcrumb()
  // Breadcrumb
  .box-breadcrumb
    .inner-image
      img(
        alt="" 
        src="/assets/images/banner-6.jpg"
        )
    .inner-content
      .container
        h1.inner-title Tour Nước Ngoài
        .inner-list
          a(href="#") Trang Chủ
          a(href="#") Tour Nước Ngoài
  // End Breadcrumb